<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChildVC1</key>
	<dict>
		<key>printSomething</key>
		<dict/>
		<key>backAction</key>
		<dict/>
		<key>classMethod:</key>
		<dict/>
	</dict>
	<key>ChildVC2</key>
	<dict>
		<key>printSomething</key>
		<dict/>
	</dict>
</dict>
</plist>
